### Mauricio López Coronado

### Act 11

1.- Se tiene la siguiente ecuación diferencial:

y(x) es la acumulación de todos sus cambios instantáneos.

## Integra los siguientes intervalos utilizando 1 millón de muestras. Escribe los resultados en un DataFrame de pandas.

In [36]:
n = 1000000

def montecarlo_tipo1(f, a, b, n):
    u = np.random.uniform(a, b, n)
    return np.mean(f(u))*(b-a)

In [61]:
import numpy as np
def fn(x):
    return (np.log(1.5 + np.sin(x**2)))/(x*np.exp(-x**2))

## Intervalo 1

In [78]:
int1 = montecarlo_tipo1(fn, .1, .3, n )
int1

0.48981595280700413

## Intervalo 2

In [83]:
int2 = montecarlo_tipo1(fn, .3, .5, n )
int2

0.3021020568077659

## Intervalo 3

In [87]:
int3 = montecarlo_tipo1(fn, .5, .7, n )
int3

0.29681861504357576

## Intervalo 4

In [89]:
int4 = montecarlo_tipo1(fn, .7, .9, n )
int4

0.35333218834383057

## Intervalo 5

In [91]:
int5 = montecarlo_tipo1(fn, .9, 1.1, n )
int5

0.4653091535880418

In [115]:
import pandas as pd


tabla = pd.DataFrame()
tabla.loc[0, "valor"] = int1
tabla.loc[1, "valor"] = int2
tabla.loc[2, "valor"] = int3
tabla.loc[3, "valor"] = int4
tabla.loc[4, "valor"] = int5
tabla

      valor
0  0.489816
1  0.302102
2  0.296819
3  0.353332
4  0.465309

## Usa el teorema fundamental del cálculo para escribir la secuencia de valores para y(x):

In [121]:
val1 = 0.1 + int1
val1

0.5898159528070042

In [125]:
val2 = val1 + int2
val2

0.8919180096147701

In [127]:
val3 = val2 + int3 
val3

1.188736624658346

In [129]:
val4 = val3 + int4
val4

1.5420688130021765

In [131]:
val5 = val4 + int5
val5

2.0073779665902185